@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HiringSonda</h1>
    <br />
</div>

<div>
    <p>O objetivo do <a asp-area="" asp-action="Challenge">Desafio</a> é criar uma aplicação em ASP.NET Core MVC que liste nome de usuários, cadastre usuários com seu respectivo endereço e que visualize o detalhe do usuário, seus dados e seu endereço.</p>
    <br />
    <p>Para prosseguir com a aplicação a sugestão é seguir para a tela de <a asp-area="" asp-controller="User" asp-action="Index">Usuário</a></p>
    <br />
    <p>O código está hospedado no <a href="https://github.com/lekuranaga/HiringSonda">Github</a></p>
</div>
